<h1>Sign Up</h1>

<%= form_with url: user_path do |f| %>
  <p>Username: <%= f.text_field :name %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.password_field :password_confirmation %></p>
  <%= f.submit "Submit" %>
<% end %>